
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="contacts-wrap">
			<div class="items-wrap">
				<div class="item-wrap">
					<div class="cnt-title">Москва и МО</div>
					<div class="cnt-phone">
						<a href="tel:84957302299" class="link-phone">+7 (495) 730-22-99</a>
					</div>
				</div>
				<div class="item-wrap">
					<div class="cnt-title">МО, Истра</div>
					<div class="cnt-phone">
						<a href="tel:89030133813" class="link-phone">+7 (903) 013-38-13</a>
					</div>
				</div>
				<div class="item-wrap">
					<div class="cnt-title">Екатеринбург</div>
					<div class="cnt-phone">
						<a href="tel:83432878791" class="link-phone">+7 (343) 287-87-91</a>
					</div>
				</div>
				<div class="item-wrap">
					<div class="cnt-title">Краснодар</div>
					<div class="cnt-phone">
						<a href="tel:88612125959" class="link-phone">+7 (861) 212-59-59</a>
					</div>
				</div>
				<div class="item-wrap">
					<div class="cnt-title">Новосибирск</div>
					<div class="cnt-phone">
						<a href="tel:83833991122" class="link-phone">+7 (383) 399-11-22</a>
					</div>
				</div>
				<div class="item-wrap">
					<div class="cnt-title">Самара</div>
					<div class="cnt-phone">
						<a href="tel:88469736060" class="link-phone">+7 (846) 973-60-60</a>
					</div>
				</div>
			</div>
		</div>
		<div class="subscribe-wrap">
			<form action="/" class="frm-main">
				<div class="frm-row">
					<input type="text" class="form-input" placeholder="Введите ваш e-mail">
				</div>
				<div class="frm-row-submit">
					<button type="submit" class="btn button-third">Подписаться на&nbsp;рассылку</button>
				</div>
			</form>
			<div class="phone-wrap">
				<div class="elm-ico">
					<img src="./img/icons/phone-light.svg" alt="">
				</div>
				<a href="tel:84957302299" class="link-phone">+7 (495) 730-22-99</a>
			</div>
		</div>
		<div class="info-wrap">
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-fb.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-inst.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-yt.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
			</div>
			<div class="rate-wrap">
				<img src="./img/main/yandex.png" alt="" class="rate-img">
			</div>
			<div class="copy-wrap">© 2021 ООО&nbsp;«Мастер&nbsp;Ватт»</div>
		</div>
	</div>
</footer>
<!-- /footer -->